__pycache__
*.pyc
env/
dist/
build/
*.egg-info/

# pytest and pytest-benchmark files
.benchmarks/
.pytest_cache/

# Used as temporary files when testing the package.
tests/simple/*.conf
tests/advanced/*.conf
