__pycache__
*.pyc
env/
dist/
build/
*.egg-info/

# pytest, pytest-benchmark, & pytest-cov files
.benchmarks/
.pytest_cache/
.coverage

# Used as temporary files when testing the package.
tests_data/simple/*.conf
tests_data/advanced/*.conf
